[mysqld]
sql_mode=''
datadir=/var/lib/mysql
basedir=/usr/sbin/
lc-messages-dir=/user/share/mysql
plugin_dir=/lib64/mysql/plugin/
socket=/var/lib/mysql/mysql.sock
#symbolic-links=0
log-error=/var/lib/mysql/mysql.log
pid-file=/var/lib/mysql/mysql.pid
user=mysql
skip-name-resolve


# Settings needed for group replication
server_id=3
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_slave_updates=ON
log_bin=binlog
binlog_format=ROW
#super_read_only=1
transaction_write_set_extraction=XXHASH64
loose-group_replication_group_name="aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
loose-group_replication_local_address="172.22.0.8:3303"
loose-group_replication_group_seeds="172.22.0.6:3301,172.22.0.7:3302,172.22.0.8:3303"
loose-group_replication_ip_whitelist="172.22.0.0/16"
loose-group_replication_start_on_boot=off
loose-group_replication_bootstrap_group= off
loose-group_replication_single_primary_mode=FALSE
loose-group_replication_enforce_update_everywhere_checks= TRUE
